*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
   color: white;
   background-color: #4c4d4c;
}
.contact{
	display: flex;
	justify-content: space-evenly;
	margin-top: 70px;
}
.form-1{
	width: 500px;
	height: 400px;
	background-color: #2e2e2e;
	border-radius: 3px;
}
form{
	padding-left: 90px;
	margin-top: 20px;
}
h2{
	padding-left: 90px;
	padding-top: 20px;
}

#email,#name{
	width: 300px;
	height: 30px;
	background-color: transparent;
	border-radius: 5px;
	border: 0.5px solid;
	margin-top: 20px;
	border-block: none;
	border-left: none;
	border-right: none;
}
#email:hover{
	border-bottom: 1px solid #d9c0a3;
}
#name:hover{
	border-bottom: 1px solid #d9c0a3;
}
#message{
	width: 300px;
	height: 70px;
	border-radius: 5px;
	border: 0.5px solid;
	margin-top: 20px;
	background-color: transparent;
	border-block: none;
	border-left: none;
	border-right: none;
}
#message:hover{
	border-bottom: 1px solid #d9c0a3;
}
#btn{
	width: 150px;
	height: 40px;
	background-color: #d9c0a3;
	border-radius: 5px;
	margin-top: 20px;
	border-block: none;
	border-left: none;
	border-right: none;
}
#btn:hover{
	width: 160px;
	font-size: 15px;
	background-color: #f5a747;
	transition: 0.7s ease-in-out;
}
.sub-main-1 h1{
     margin-bottom: 20px;
}
.address-1 h4{
	margin-top: 20px;
	margin-bottom: 10px;
}

.address-1 i{
	margin-right: 10px;
}
.address-1 a{
	text-decoration: none;
}
.address-1 span{
	color: white;
}
.address-1 span:hover{
	color: blue;
}
@media screen and(max-width: 600px){
	body{
		font-size: 5px;
	}
}


