*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
.main{
	width: 100%;
	background-color: transparent;
	padding-top: 15px;
}
.sub-main{
	display: flex;
    justify-content: space-between;
}

.logo{
	margin-left: 10px;
	width: 90px;
	height: 90px;
}
.nav ul{
	display: flex;
}
.nav ul li{
	list-style: none;
}
.nav ul li a{
	text-decoration: none;
	margin-right: 40px;
	color: whitesmoke;
}
.nav ul li a:hover{
    color: #c44127;
    transition: 0.5s ease-in-out;
}
@media screen and(max-width: 600px){
	.logo{
		width: 40px;
		height: 40px;
	}
}
